.menu{
    background-color: #0033A0;
}

.banner{
    background-image: url("../img/medicos.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top:0;
    left:0;
    opacity: 0.5;
    z-index: -1;

}